<h1>Cantidad de deportes totales: <%= deportes.length %></h1>
<a href="<%= newDeportesPath %>"> Agregar Deporte </a>
<% deportes.forEach(deporte => { %>
    <div>
        <h2>ID: <%= deporte.id%></h2>
        <p>Nombre: <%= deporte.nombre%></p>
        <a href="<%= deportesPath(deporte.id) %>"> Ver Más <br></a>
        <a href="<%= deleteDeportesPath(deporte.id) %>"> Eliminar <br></a>

    </div>
<% }) %>
